body {
  background-color: #424242;
  margin: 0px;
  padding: 5px;
  overflow:  hidden;
  color: white;
  height: 100%;
}
html {
  height: 100%;
}
* {
  font: 1em "Courier New", monospace;
}
#canvas {
  position: absolute;
  z-index: -1;
}
#grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 0.2em;
}
#fps {
  display: block;
  bottom: 5px;
  position: absolute;
}
#fps::before {
  content: "fps: ";
}
#grid > * {
  margin: 2px;
}
