body {
  background-color: #424242;
  margin: 0px;
  overflow: hidden;
  color: white;
  height: 100%;
}
html {
  height: 100%;
}
* {
  font: 1em "Courier New", monospace;
  user-select: none;
  -webkit-user-select: none;
}
#canvas {
  position: absolute;
  z-index: -1;
}
#grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-auto-rows: 2em;
  column-gap: 0.2em;
  align-items: center;
  padding: 5px;
}
#fps {
  display: block;
  position: absolute;
  bottom: 0px;
  padding: 5px;
}
#fps::before {
  content: "fps: ";
}
#grid > * {
  margin: 2px;
}
#grid > input[type="checkbox" i] {
  margin-right: auto;
}
